body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.summary-body {
  /* TODO BORRAR ESTO CUANDO ESTEN TODAS LAS CLASES IMPLEMENTADAS */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.77);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
